<h2>My Heroes</h2>
<ul class="heroes">
  @for (h of heroes; track h.id){
  <li>
    <button
      [class.selected]="h === selectedHero"
      type="button"
      (click)="onSelect(h)"
    >
      <span class="badge">{{ h.id }}</span>
      <span class="name">{{ h.name }}</span>
    </button>
  </li>
  } @empty {
  <li>There is no hero</li>
  }
</ul>

@if (selectedHero) {
<div>
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>id: {{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name" />
  </div>
</div>
}
